:root {
    --color-white: #ffffff;
    --color-grey: #333333;
}

*, *::before, *::after {margin: 0; padding: 0; box-sizing: inherit}

body {
    background-color: rgb(182, 50, 205);
    background-image: url("/public/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

p, li {
    font-size: clamp(17px, 4vw, 21px);
}

h1 {
    font-size: clamp(31px, 4vw, 58px);
    font-weight: 800; 
    text-align: center; 
    padding:15px; 
    color: rgb(159, 174, 183);
    
}

h2 {
    font-weight: 800;
}

.quiz-card, .quiz-result {
    background-color: rgba(245, 245, 245, 0.517);
    border-radius: 13px;
    padding: 40px; 
    opacity: 0.91;
    border: 5px solid navajowhite;
}

.quiz-card ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.quiz-card ul li {
    padding: 5px; 
}

.quiz-card ul li:hover {
    background-color: rgba(237, 37, 213, 0.874);
}

footer {
    text-align:center;
    color: rgb(159, 174, 183);
}